/* BACKGROUND */
#intro {
    background-image: url("/img/background.jpg");
    height: 100vh;
}

.navbar .nav-link {
    color: #fff !important;
}

/* RESERVATION */
.reservation .col .form-control, .reservation .col .form-select {
    background-color: transparent;
    color: #fff;
}

.reservation .container-fluid .row {
    margin-bottom: 20px;
}

.reservation .remove {
    align-self: end;
}

.reservation .remove div {
    text-align: left;
}

.reservation #form_add {
    margin: 20px 0;
}

.reservation #form_save {
    margin-top: 20px;
}

.reservation .room {
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.reservation .room .table{
    color: #fff;
}

.reservation .room label {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
}

.reservation .room .table td {
    border: none;
    padding: unset;
    padding-top: 5px;
}