#intro {
    background-image: url("/img/background.jpg");
    height: 100vh;
}

.navbar .nav-link {
    color: #fff !important;
}

.reservation .col .form-control, .reservation .col .form-select {
    background-color: transparent;
    color: #fff;
}

.reservation .col .form-select {
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='#ffffff' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");;*/
}

.reservation .container-fluid .row {
    margin-bottom: 20px;
}

.reservation .remove {
    align-self: end;
}

.reservation .remove div {
    text-align: left;
}