{% extends 'base.html.twig' %}

{% block title %}System zarządzania hotelem{% endblock %}

{% block body %}

    <div class="text-white">
        <h1 class="mb-3">System zarządzania hotelem</h1>
        <h5 class="mb-4">Zaloguj się lub złóż rezerwację</h5>
        <a class="btn btn-outline-light btn-lg m-2" href="/login" role="button"
           rel="nofollow" target="_blank">Zaloguj się</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/rezerwacja"
           role="button">Złóż rezerwację</a>
    </div>

{% endblock %}
