{% extends 'base.html.twig' %}

{% block title %}System zarządzania hotelem{% endblock %}

{% block body %}

    {% if message is defined %}
        <h3 class="text-success font-weight-bold">{{ message }}</h3>
    {% endif %}

    <div class="text-white">
        <h1 class="mb-3">System zarządzania hotelem</h1>
        <h5 class="mb-4">Zaloguj się lub złóż rezerwację</h5>
        <a class="btn btn-outline-light btn-lg m-2" href="/rezerwacja"
           role="button">Złóż rezerwację</a>
        <br>
        <a class="btn btn-outline-light btn-lg m-2" href="/loginAdmin" role="button"
           rel="nofollow">Logowanie admin</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/loginRecepcja" role="button"
           rel="nofollow">Logowanie recepcja</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/login" role="button"
           rel="nofollow">Logowanie MEGAMENET</a>
    </div>

{% endblock %}
