{% extends 'base.html.twig' %}

{% block title %}System zarządzania hotelem{% endblock %}

{% block body %}

    <a href='/reservation' type="button" class="btn btn-primary">Złóż rezerwację</a>

{% endblock %}
